/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
/*.sidebar {
  display: none;
}
@media screen and (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #222222;
    border-right: 1px solid #eee;
    
  }
  .fan{
        background: linear-gradient(-120deg, rgba(245, 33, 33, 0) 70%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(-110deg, rgba(27, 0, 255, 0) 60%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(-103deg, rgba(255, 33, 33, 0) 54%, rgba(255, 255, 255, 0.08) 15%), radial-gradient(circle, rgba(0, 135, 201, 0) 0%, rgba(0, 135, 201, 0) 100%);
        position: absolute;
        height: 96.5%;
        width: 100%;
        z-index: -1;
  }
}*/

/* Sidebar navigation */
/*.nav-sidebar {
  margin-right: -21px;  
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}*/
.navbar-right > .active > a,
.navbar-right > .active > a:hover,
.navbar-right > .active > a:focus {
  color: #fff;
  background: rgba(0, 0, 0, 0.17) !important;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: -5px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-top: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.chart{
  width:600px;
  height: 400px;
  margin-top: 85px;
}
.chart-data{
  width:500px;
  height: 400px;
}
/*@media screen and (max-width:720px){
  .chart{
    width:310px;
    height: 400px;*/
/*}*/
/*}*/
/*background*/
.navbar,.sidebar{
  animation: gradientswitch 50s infinite;
  -webkit-animation: gradientswitch 50s infinite; 
  z-index: 1;
}
@keyframes gradientswitch{
    0% {
          background: #0087C9;
      }
          
      16% {
          background: #EF4A53;
      }
      
      32% {
          background: #FFB463;
      }
      
      49% {
          background: #33D5D4;
      }
          
      65% {
          background: #254356;
      }
          
      81% {
          background: #5B4097;
      }
          
      100% {
          background: #0087C9;
      }
}
/*页面初始化的dislay*/
.user{
  display: block;
}
.pageOne{
  display: block;
}
.pageTwo,.pageThree,.pageFour,.pageFive{
  display:none;
}
.email{
  width: 190px !important;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-control{
  display: -webkit-inline-box !important;
}
.btn_modify{
  display: inline-block;
}
.btn_bind{
  display: none;
}
/*筛选页面框*/
.nav-tabs>li>a{
  color: #333!important;
}
 .nav-tabs>li>a:hover{
    background-color: rgba(162, 155, 155, 0.37) !important;
}
.nav-tabs>li>a:focus{
  background-color:#fff!important;
}
.alarm_data_page,.time_data_page{ 
    width: 100%;
    height: 90%;
    background: #fbf8f8;
}
.time_data_page{ 
  display: block;
}
.alarm_data_page{
  display: none;
  overflow-y: scroll;
}
.table{
    margin-top: 20px;
}
/*条件选择项*/
.time_choose{
  float: right!important;
  list-style: none;
  padding-left: 0;
}
.time_choose>li{
    position: relative;
    display: block;
}
.time_choose>li>a{
    position: relative;
    display: block;
    padding: 10px 15px;
}
.dropdown>a,.userNav>a{
  color: #000;
}
.dropdown>a:focus, .dropdown>a:hover{
  text-decoration: none;
  background: #ccc;
}
/*管理界面上下间距*/
.handler{
  margin: 50px 0 0;
}
/*仓库信息按钮*/
.btnRepo_modify,.btnRepo_bind{
    width: 50%;
    margin: 5% 25% 0px;
}
.btnRepo_modify{
  display: inline-block;
}
.btnRepo_bind{
  display: none;
}
/*.form-control[disabled]{
      background-color: #f7f4e8;
}*/
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    z-index: 2;
    color: #333;
    background-color: rgb(155, 204, 228);
    border-color: #d9edf7;
}
.list-group-item.active .list-group-item-text{
      color: #777;    
     
}
.list-group-item-text{
 margin-right: 65%; 
}
/*.btn_user{
  float: right;
}*/
.btn_delete{
 margin-left: 15px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
      background-color: transparent;
}
.btn_user{
    right: 5%;
    top: 20%;
    position: absolute;
}
/*修改个人信息按钮*/

.navbar .navbar-nav>li.open .dropdown-menu {
    margin-top: 0;
    right: 0;
    border: 0!important;
}
@media only screen and (max-width: 760px){
  .navbar .navbar-nav+.dropdown-menu {
    min-width: 200px;
}
}

.navbar .navbar-nav+.dropdown-menu {
    min-width: 100%;
}
.dropdown-footer>a,.edit>a{
  text-align: center;
}
/*修改密码*/
.modifyPwd{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 10000;
    background-color: rgba(0,0,0,.5);
}
.content{
    position: relative;
    top: 25%;
}
.changePwdHead{
      color: #eee!important;
}
.alert{
  position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1000;
}